@import "reset.css";
@import "header.css";


body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 22px;
  background: linear-gradient(#f8ecf9, #ecc9ea);
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.text-column {
  flex: 1;
  padding: 50px;
}

.photo-column {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-column img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px; 
}
